.wrapper {
    padding-top: var(--header-height);
}

.img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    img {
        width: 100%;
    }

    .img-content {
        width: 100%;
        padding: 5% 0;
        border-bottom: var(--border-1);
    }
}

.footer {
    width: 100%;
    border-bottom: var(--border-1);

    .footer-content {
        width: 50%;
        padding-left: 4.6875vw;
        padding-top: 2.5rem;
        padding-bottom: 5vw;

        p {
            font-size: 1rem;
            letter-spacing: 0.025rem;
            line-height: 1.5rem;
            font-weight: 300;
        }
    }
}
