.wrapper {
    --item-height: 18.2px;
    --icon-height: 16px;
    --font-size: 13px;
    --button-line-height: 1.3;
    --button-font-weight: 400;

    z-index: 4;
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    background: var(--bg-color);
    position: fixed;
    border-bottom: var(--border-1);
}

.inner {
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        display: inline-block;
        height: var(--item-height);
        font-size: var(--font-size);
        line-height: var(--button-line-height);
        font-weight: var(--button-font-weight);
        margin: 0 35px 0 13px;
    }
}

.menu-search,
.action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle {
    padding: 10px 0;
    cursor: pointer;
}

.menu-icon {
    height: var(--icon-height);
}

.dropdown-menu {
}

.search-button {
    padding: 10px 0;
    cursor: pointer;
}

.search-icon {
    height: var(--icon-height);
}

.logo {
    width: 21%;
    min-width: 154px;

    img {
        width: 100%;
    }
}

.wishlist {
    cursor: pointer;
    padding: 10px 0;
}

.account {
    padding: 10px 0;
    cursor: pointer;
}
